* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --PaleBlue: hsl(225, 100%, 94%);
    --BrightBlue: hsl(245, 75%, 52%);
    --VeryPaleBlue: hsl(225, 100%, 98%);
    --DesaturatedBlue: hsl(224, 23%, 55%);
    --DarkBlue: hsl(223, 47%, 23%);
}

body {
    background: url('images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-color: var(--PaleBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;

}

main {
    width: 420px;
    background-color: white;
    border-radius: 20px;
}

main>img {
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.content {
    padding: 48px;
}

.content h1 {
    color: var(--DarkBlue);
    font-weight: 900;
    margin-bottom: 15px;
}

.content>p {
    font-size: 16px;
    color: var(--DesaturatedBlue);
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.6;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--VeryPaleBlue);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.price .left {
    display: flex;
    align-items: center;
}

.left img {
    width: 45px;
}

.plan {
    text-align: left;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    color: var(--DarkBlue);
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 3px;
}

.plan p {
    color: var(--DesaturatedBlue);
    font-weight: 500;
}

.price a {
    color: var(--BrightBlue);
    font-weight: 700;
    font-size: 14px;
}
.price a:hover {
    text-decoration: none;
    color: #766CF1;
}
button {
    width: 100%;
    padding: 13px;
    border: none;
    background-color: var(--BrightBlue);
    color: white;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px var(--BrightBlue);
}
button:hover {
    background-color: #766CF1;
    cursor: pointer;
}
button+a {
    text-decoration: none;
    color: var(--DesaturatedBlue);
    font-weight: 700;
}
button+a:hover{
    color: var(--DarkBlue);
}

@media (max-width:450px) {
    main {
        width: 100%;
        margin: 50px 20px;

    }
}